# Dependencies
node_modules/
/client/node_modules
/server/node_modules

# Database
/server/db_data/
/server/db_data_test/
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production builds
/client/dist
/server/dist

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
